@{
    ViewBag.Title = "ACERCA DE NOSOTROS";
}
<h2>@ViewBag.Title.</h2>


<p>SALES CORE es un sistema creado para el manejo de un sistema COMPLETO de productos. Iniciando con la adquisicion de este a traves de los diversos proveedores, registrandolos por sucursales o almacenes, y finalmente la venta de este a un cliente final.</p>
<p>
    Estamos ubicados en diversos departamentos de Honduras, y de igual forma nuestra presencia esta en el continente Europeo, en paises como España e Italia.
</p>
