@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>

<address>
    Core Sale Cede Principal<br />
    UNITEC, San Pedro Sula, Cortes, Honduras<br />
    <abbr title="Phone">Telefono:</abbr>
    97365707
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Soporte@salescore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@salescore.com</a>
</address>