@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>SALES CORE</h1>
    <p class="lead">SALES CORE es una plataforma que utilizamos para el manejo de inventario de productos, todos los movimientos relacionados a este; como la compra-venta, entre otras opciones</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>COMPRA DE PRODUCTOS</h2>
        <p>
            Si necesitas realizar un documento de solicitud de productos: !CLICK AQUI!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">COMPRAR &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MOVIMIENTOS EN ALMACEN</h2>
        <p> Si necesitas ingresar un producto al almacen: !CLICK AQUI!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">MOVIMIENTO &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>VENTA DE PRODUCTOS</h2>
        <p>Si necesitas uan venta por despacho: !CLICK AQUI!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">VENDER &raquo;</a></p>
    </div>
</div>